@{
    ViewData["Title"] = "Home Page";
}
@model Dish
<div>
    <div class="mx-auto p-5 text-center">
        <h1>Edit @Model.Name</h1>
        <div class="d-flex gap-2 justify-content-center">
            <a href="/dishes"><p>Home</p></a>
            <p> | </p>
            <a href="/dishes/createDish">Add a Dish</a>
        </div>
    </div>
    <form asp-action="ProcessEditDish" asp-controller="Home" method="post" asp-route-dishId="@Model.DishesId">
        <div class="row">
            <div class="col">
                <span asp-validation-for="Chef" class="text-danger"></span>
                <label>Chef's Name</label>
                <input asp-for="Chef" />
            </div>
            <div class="col">
                <label>Tastiness</label>
                <Select asp-for="Tastiness">
                    <Option value="1">1</Option>
                    <Option value="2">2</Option>
                    <Option value="3">3</Option>
                    <Option value="4">4</Option>
                    <Option value="5">5</Option>
                </Select>
            </div>
            <div class="col">
                <div class="">
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <label>Description</label>
                    <textarea asp-for="Description" cols=50 rows=4></textarea>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span asp-validation-for="Name" class="text-danger"></span>
                <label>Name of Dish</label>
                <input asp-for="Name" />
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <span asp-validation-for="Calories" class="text-danger"></span>
                <label># of Calories</label>
                <input asp-for="Calories" />
            </div>

        </div>
        <input type="submit" value="Edit Dish">
    </form>
</div>